*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body,
html {
    min-width: 768px;
    min-height: 600px;
    height: 100%;
    overflow: hidden;
    background: #121212;
}

body,
html,
input,
button {
    font-family: "Gilroy Bold", sans-serif;
    letter-spacing: 0.15px;
}

::-moz-selection {
    color: #333333;
    background: white;
    border-radius: 2px;
}

::selection {
    color: #333333;
    background: white;
    border-radius: 2px;
}

*:focus {
    outline: none !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.3);
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    line-height: unset;
    letter-spacing: unset;
}
